.dushboard {
    padding-top: 140px;
    padding-bottom: 74px;
}

.container {}

.dushboard__wrapper {
    display: flex;
}

.dushboard__control {}

.dushboard__content {
    min-height: 100%;
    width: 100%;
}

.control {
    width: 200px;
    flex-shrink: 0;
    padding-top: 12px;

}

.control__list {}

.control__item {
    margin-bottom: 24px;
}

.control__item:last-child {
    margin-right: 0;
}

.control__link {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 17px;
    color: #253138;
    text-decoration: none;

}

.control__icon {
    margin-right: 26px;
}

.control__text {}


.control__link--active svg path {
    fill: #F6483B;
}

.control__link--active {
    color: #F6483B;
}


.self,
.partner {
    width: 49%;
    overflow: hidden;
    position: relative;
}

.self__content,
.partner__content {
    width: 100%;
    height: 515px;
}

.self__stars,
.partner__stars {
    margin-right: 8px;
}

.self__stars span,
.partner__stars span {
    margin: 0 2px;
}

.self__data,
.partner__data {
    position: absolute;
    top: 31px;
    left: 40px;
    right: 33px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.self__column,
.partner__column {
    display: flex;
}

.self__image,
.partner__image {
    margin-right: 13px;
}

.self__info,
.partner__info {
    display: flex;
    flex-direction: column;
}

.self__raiting,
.partner__raiting {
    display: flex;
    align-items: center;
}

.self__raiting-value,
.partner__raiting-value {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 11px;
    color: #FFFFFF;
}

.self__name,
.partner__name {
    margin-top: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 11px;
    color: #FFFFFF;
}

.self__control,
.partner__control {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.self__btn,
.partner__btn {
    width: 37px;
    height: 37px;
    background: transparent;
    border-radius: 50%;
    outline: none;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    margin: 0 5px;
}

.self__settings,
.partner__add-contact {
    outline: none;
    cursor: pointer;
    border: none;
    background: transparent;
}

.golive__viewport {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partner__content {
    width: 100%;
    height: 515px;
}

.golive__control {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.golive__btn {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #253138;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.network {
    border: 4px solid #343434;
    box-sizing: border-box;
    border-radius: 30px;
}

.network__head,
.waitlist__head {
    padding: 28px 30px 24px 65px;
    background: #253138;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;

}

.network__title,
.waitlist__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 136.7%;
    color: #FFFFFF;
    margin-right: 39px;
}

.network__connections,
.waitlist__connections {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 136.7%;
    color: #F6483B;
}

.network-list,
.waitlist-list {
    padding: 27px 61px 27px 70px;
    display: flex;
    flex-direction: column;

}

.titles__item {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 136.7%;
    color: #253138;
}

.titles {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.titles__user {
    flex-basis: 21%;
}

.titles__name {
    flex-basis: 24%;
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 21px;

}

.list-item:last-child {
    margin-bottom: 0;
}


.list-item__user {
    flex-basis: 21%;
    position: relative;


}


.list-item__image {
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    height: 55px;
    width: 55px;

}

.list-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-item__online {
    position: absolute;
    left: 40px;
    bottom: 0;
    background: #53B913;
    border-radius: 20px;
    width: 14px;
    height: 14px;
}

.list-item__name {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 136.7%;
    color: rgba(0, 0, 0, 0.6);
    flex-basis: 24%;
}

.list-item__raiting span {
    margin: 0 2px;
}

.list-item__buttons {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-item__cam {
    width: 27px;
    height: 19px;
    cursor: pointer;
    background: url(./img/control_icon/cam.svg) no-repeat center;
    border: none;
    outline: none;
    margin-right: 42px;
}

.list-item__control {
    display: flex;
    align-items: center;
    width: 27px;
    height: 19px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

}

.list-item__control span {
    width: 5px;
    height: 5px;
    background: #253138;
    display: inline-block;
    margin: 0 2px;
    border-radius: 50%;
}

.list-item__control-wrapper {
    position: relative;
}

.user-control {
    position: absolute;
    left: 0;
    top: 115%;
}

.user-control__item {
    margin-bottom: 5px;
}

.user-control__btn {
    color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: 3px 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
    outline: none;
    background-color: #fff;

}


.waitlist {
    border: 4px solid #343434;
    box-sizing: border-box;
    border-radius: 30px;
}

.waitlist__title--15 {
    margin-right: 15px;
}

.waitlist__btn-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    align-items: center;
}

.waitlist__btn {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    flex-grow: 0;
    width: 139px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
}

.titles__rating {
    flex-basis: 20%;
}

.titles__date {
    flex-basis: 20%;
}

.titles__action {}

.waitlist-list__item {
    margin-bottom: 21px;
    display: flex;
    align-items: center;

}

.waitlist-list__item:last-child {
    margin-bottom: 0px;

}

.waitlist-list__item .contributor {
    flex-basis: 21%;
}

.waitlist-list__item .contributor .contributor__image {
    width: 55px;
    height: 55px;
    background: #253138;
    border-radius: 50%;
    overflow: hidden;
}

.waitlist-list__item .contributor .contributor__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.waitlist-list__item .email {
    flex-basis: 24%;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 136.7%;
    color: rgba(0, 0, 0, 0.6);
}

.waitlist-list__item .raiting {
    flex-basis: 20%;
}

.waitlist-list__item .raiting span {
    margin: 0 2px;
}

.waitlist-list__item .date {
    flex-basis: 20%;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 136.7%;
    color: rgba(0, 0, 0, 0.6);
}

.waitlist-list__item .actions {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.waitlist-list__item .actions__btn {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 136.7%;

    color: #253138;
    width: 65px;
    height: 30px;
    border: 1px solid #253138;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
    background: transparent;
}

.waitlist-list__item .invited {
    color: #FFFFFF;
    background: #F6483B;
    border: 1px solid #F6483B;
}

.waitlist-list__no-item {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 136.7%;
    color: rgba(0, 0, 0, 0.6);
}