
.waitlist__head {
    padding: 28px 30px 24px 65px;
    background: #253138;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;

}


.waitlist__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 136.7%;
    color: #FFFFFF;
    margin-right: 39px;
}


.waitlist__connections {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 136.7%;
    color: #F6483B;
}


.waitlist-list {
    padding: 27px 61px 27px 70px;
    display: flex;
    flex-direction: column;

}

.waitlist {}

.waitlist__wrapper {
    border: 4px solid #343434;
    box-sizing: border-box;
    border-radius: 30px;
}


.waitlist__title--15 {
    margin-right: 15px;
}

.waitlist__btn-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
    align-items: center;
}

.waitlist__btn {
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    flex-grow: 0;
    width: 139px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: transparent;
    cursor: pointer;
}


.waitlist-list__item {
    margin-bottom: 21px;
    display: flex;
    align-items: center;

}

.waitlist-list__item:last-child {
    margin-bottom: 0px;

}

.waitlist-list__item .contributor {
    flex-basis: 21%;
    position: relative;

}

.waitlist-list__item .contributor .contributor__image {
    width: 55px;
    height: 55px;
    background: #253138;
    border-radius: 50%;
    overflow: hidden;
}

.waitlist-list__item .contributor .contributor__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.waitlist-list__item .email {
    flex-basis: 24%;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 136.7%;
    color: rgba(0, 0, 0, 0.6);
}

.waitlist-list__item .raiting {
    flex-basis: 20%;
}

.waitlist-list__item .raiting span {
    margin: 0 2px;
}

.waitlist-list__item .date {
    flex-basis: 20%;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 136.7%;
    color: rgba(0, 0, 0, 0.6);
}

.waitlist-list__item .actions {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.waitlist-list__item .actions__btn {
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 136.7%;

    color: #253138;
    width: 65px;
    height: 30px;
    border: 1px solid #253138;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
    outline: none;
    background: transparent;
}

.waitlist-list__item .invited {
    color: #FFFFFF;
    background: #F6483B;
    border: 1px solid #F6483B;
}

.waitlist-list__no-item {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 136.7%;
    color: rgba(0, 0, 0, 0.6);
}

.waitlist__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 29px;
}

.waitlist__view-all {
    padding: 13px 33px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 136.7%;
    color: #253138;

    border: 2px solid #253138;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
}